:root {
  --primary-color: rgba(127, 255, 212, 0.2);
  --primary-color-nav: rgba(127, 255, 212, 0.1);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

/* before you start add this */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0px;
  line-height: 1.4;
  /* border: 5px solid black; */
  margin: 0px;
  font-family: "Roboto";
  /* background-color: rgba(127, 255, 212,0.20); */
}

/* menu css */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-wrap .toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  cursor: pointer;
  margin: 20px;
  border-radius: 50%;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  /* background-blend-mode: lighten; */
}

/* hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* top and bottom line */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* moved the line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: url("../Images/wheat.png");
  opacity: 1;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0%;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  font-family: "Cedarville Cursive", cursive;
  font-size: 50px;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4 ease;
}

/* add padding to all container child elements */
.container > * {
  margin: auto;
  overflow: hidden;
  display: flex;
}

/* header CSS */
.header {
  margin: auto;
  overflow: hidden;
  padding: 0 3 rem;
  color: black;
  height: calc(100vh - 70px);
  position: relative;
  display: flex;
}

.mainImage {
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  z-index: -2;
  height: 100vh;
  width: 100%;
  /* border-top: 65px solid rgba(7, 245, 213, 0.15); */
}

.logoClass {
  flex: 0 1 auto;
  /* border: 5px solid black; */
  z-index: -1;
  position: absolute;
  top: 25%;
  left: calc(50% - 125px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 30px;
  margin: 15px;
  margin-right: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.extraText {
  flex: 0 1 auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 35%;
  color: black;
  font-size: 50px;
  font-family: "Cedarville Cursive", cursive;
  /* padding: 10px; */
  /* border: 5px solid black; */
}

/* main body */
.mainContent {
  display: flex;
  margin: 0;
  height: auto;
  /* padding-top:800px; */
}

.information {
  /* border: 5px solid rgb(27, 22, 22); */
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  list-style-type: none;
  /* border:2px solid red; */
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding-inline-start: 0;
}

.links li {
  display: inline-block;
}

.scroll {
  position: relative;
  left: -80px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  color: antiquewhite;
  font-family: "Cedarville Cursive", cursive;
}

.content-item {
  flex: 0 1 100%;
  /* padding: 10px; */
  height: auto;
  /* border: 5px solid rgb(27, 22, 22); */
  /* position: fixed; */
  /* position: relative; */
  /* top: -21px; */
}

/* parallax */
.image-1 {
  background: url("../Images/wheat.png");
  /* background-size: cover; */
  margin: 0px;
  height: 100%;
  width: 100%;
}
/* end */

.blurredTextImage {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  background-size: cover;
  height: auto;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
  margin-bottom: 40px;
  transform: scale(0.9);
}

.main2 {
  /* background:grey; */
  height: 500px;
}

.main2-context {
  display: flex;
}

.inner-main2-child {
  flex: 0 1 auto;
}

.main2-image1 {
  background: url("../Images/dbg.png");
  /* background-size: cover; */
  margin: 0px;
  height: 200vh;
  width: 100%;
  padding: 30px;
}

.main2-image1 h1 {
  color: #fff;
}

.main2-image2 {
  background: url("../Images/lbg.png");
  /* background-size: cover; */
  margin: 0px;
  height: 200vh;
  width: 100%;
  padding: 30px;
}

.main2-image2 h1 {
  color: #000;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.restMenu {
  position: relative;
}

.menuItemOverlay {
  background: url("../Images/menu-bg.jpeg") no-repeat fixed center;
  transition: all 0.5s ease;
  opacity: 100%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* position: absolute; */
  visibility: visible;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* .menuItemOverlay:hover {
  display: none;
  transition: 2s;
} */

.aleefia {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: top 0.3s ease-out, left 0.3s ease-out;
  top: 50%;
  left: 50%;
  position: fixed;
  border: 5px solid red;
}

.menuItem {
  background: url("../Images/menu-bg.jpeg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.menu-item-child {
  display: flex;
  transition: opacity 0.3s;
  opacity: 0;
}

.menu-item-child .pages {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-child .pages .page-content {
  width: 90%;
  height: 90%;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.menu-item-card__container {
  /* border:1px solid red; */
}

.menu-item-card__container .row {
  display: flex;
}

/* .restMenu:hover
  .menuItemOverlay
  .menu-item-card__container
  .row
  .menu-item-card {
  position: absolute;
  z-index: 99;
} */

.menu-item-card__container .row .menu-item-card {
  /* border:1px solid green; */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s, height 0.3s;
  cursor: pointer;
}

.menu-item-card__container .row .menu-item-card:hover {
  transform: scale(1.1);
}

.menu-item-card__container .row .menu-item-card .menu-item-card__image {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.item-child-child-1 {
  flex: 0 1 50%;
  margin-right: 0px;
  border-right: solid black 1px;
  height: calc(100vh - 40px);

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  position: relative;
  top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.item-child-child-2 {
  flex: 0 1 50%;
  margin-left: 0px;
  border-left: solid black 1px;
  height: calc(100vh - 40px);

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  position: relative;
  top: 20px;
  margin-right: 20px;
}

.menu-items-font {
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: "Cedarville Cursive", cursive;
}

.footer {
  border: 5px solid rgb(27, 22, 22);
}
